baseURL = "https://neckerdb.co.uk/"

disableKinds = ["taxonomy", "term"]

[module]
  [module.hugoVersion]
    extended = false
    min      = "0.112.0"
  [[module.mounts]]
    source = "assets"
    target = "assets"
  [[module.mounts]]
    source = "hugo_stats.json"
    target = "assets/watching/hugo_stats.json"

[build]
  writeStats = true
  [[build.cachebusters]]
    source = "assets/watching/hugo_stats\\.json"
    target = "styles\\.css"
  [[build.cachebusters]]
    source = "(postcss|tailwind)\\.config\\.js"
    target = "css"
  [[build.cachebusters]]
    source = "assets/.*\\.(js|ts|jsx|tsx)"
    target = "js"
  [[build.cachebusters]]
    source = "assets/.*\\.(.*)$"
    target = "$1"

[params]
  borderColour = "#000000"
  [params.sources]
    tsa = "The Scout Association"
    sn = "Simply Neckers"
    1ss = "One Stop Scouting"
    mbc = "MBC Neckers & Badges"
    war = "Warrens"
  [params.colours]
    tsa-black = "#221f20"
    tsa-bright-orange = "#f9a930"
    tsa-brown = "#9b7747"
    tsa-dark-red = "#94362a"
    tsa-emerald = "#42ab66"
    tsa-gold = "#ffdb7c"
    tsa-green = "#188951"
    tsa-grey = "#86858b"
    tsa-khaki = "#d5ba8f"
    tsa-lemon = "#fdfe63"
    tsa-maroon = "#7c3f47"
    tsa-navy-blue = "#0a1f62"
    tsa-purple = "#9c164b"
    tsa-royal-blue = "#0a3786"
    tsa-scarlet = "#dc2c15"
    tsa-scout-green = "#39774e"
    tsa-scout-purple = "#55377d"
    tsa-sky-blue = "#b2d0ea"
    tsa-turquoise = "#02a2a8"
    tsa-white = "#ffffff"
    sn-amethyst-falls = "#161f30"
    sn-azure-blue = "#286bb4"
    sn-black = "#191e1c"
    sn-bright-orange = "#ef6200"
    sn-brown = "#6a4720"
    sn-dark-red = "#b10d2b"
    sn-deep-orange = "#da3428"
    sn-emerald = "#019835"
    sn-gold = "#ddb254"
    sn-green = "#65b930"
    sn-grey = "#beb9b6"
    sn-high-viz-grey = "#94989b"
    sn-hot-pink = "#e00075"
    sn-kelly-green = "#019835"
    sn-khaki = "#c1a281"
    sn-lavender = "#ac8fc1"
    sn-lemon = "#ffd001"
    sn-light-blue = "#89a6d5"
    sn-lime-green = "#85bd36"
    sn-maroon = "#71223b"
    sn-navy-blue = "#3a319c"
    sn-orange = "#e5641c"
    sn-pastel-green = "#a4daa3"
    sn-princess-pink = "#ff9acc"
    sn-purple = "#942e65"
    sn-reflective-orange = "#f98100"
    sn-reflective-yellow = "#e7ed0b"
    sn-royal-blue = "#23336a"
    sn-scarlet = "#e4212a"
    sn-scout-green = "#2a472b"
    sn-scout-purple = "#640186"
    sn-sky-blue = "#9eebff"
    sn-turquoise = "#119dbf"
    sn-white = "#ffffff"
    sn-yellow = "#fceb1f"
    1ss-purple = "#4d3777"
    1ss-lime = "#8dc85b"
    1ss-mango = "#f8a856"
    1ss-marine-blue = "#1f2b61"
    1ss-maroon = "#5a1a3b"
    1ss-navy-blue = "#0f193a"
    1ss-orange = "#f47720"
    1ss-pine-green = "#0b3d25"
    1ss-pink = "#f05b9b"
    1ss-primrose = "#fbb83e"
    1ss-lemon = "#f1ce1b"
    1ss-royal-blue = "#22275e"
    1ss-scarlet = "#c72026"
    1ss-scout-green = "#17363a"
    1ss-sky-blue = "#a4d2ea"
    1ss-tangerine = "#ed3322"
    1ss-turquoise = "#138bae"
    1ss-violet = "#4e3e7d"
    1ss-white = "#fefefe"
    1ss-cornflower = "#8ca9d8"
    1ss-amethyst = "#2e2b71"
    1ss-baby-pink = "#f9becc"
    1ss-banana = "#f9e00f"
    1ss-black = "#15151e"
    1ss-bright-yellow = "#f8ef47"
    1ss-brown = "#4f2d22"
    1ss-charcoal = "#535f77"
    1ss-chocolate = "#39282b"
    1ss-amber = "#f8ce2e"
    1ss-dark-red = "#521825"
    1ss-emerald = "#136c3a"
    1ss-fuchsia = "#a41f4e"
    1ss-gold = "#ee9727"
    1ss-grape = "#6a1e4e"
    1ss-grey = "#adaba9"
    1ss-hyacinth = "#406da4"
    1ss-khaki = "#cab195"
    mbc-bright-yellow = "#efe406"
    mbc-lemon = "#f3e747"
    mbc-orange = "#c98200"
    mbc-scarlet = "#b92f1f"
    mbc-dark-red = "#71132a"
    mbc-maroon = "#480d2c"
    mbc-purple = "#5c068c"
    mbc-gold = "#c98f47"
    mbc-khaki = "#826e57"
    mbc-chocolate = "#422310"
    mbc-grape = "#7b0065"
    mbc-emerald = "#1a6a30"
    mbc-pine-green = "#184f3f"
    mbc-scout-green = "#143422"
    mbc-sky = "#afc3d5"
    mbc-royal-blue = "#21145c"
    mbc-navy-blue = "#152442"
    mbc-white = "#f9f9f9"
    mbc-grey = "#7e7f84"
    mbc-black = "#000000"
    mbc-pink = "#cd6888"
    mbc-brownsea-blue = "#b9cfe4"
    mbc-centenary-pink = "#9e447b"
    mbc-centenary-gold = "#e4b71b"
    mbc-centenary-blue = "#4484b5"
    mbc-turqoise = "#44bce3"
    mbc-tangerine = "#ff5e00"
    mbc-hyacinth = "#c2bcec"
    mbc-day-glo-yellow = "#e6ff15"
    mbc-day-glo-orange = "#ff8418"
    mbc-day-glo-green = "#8dff32"
    mbc-day-glo-pink = "#ff51b5"
    mbc-reflective = "#e1e8e8"
    mbc-cambridge-blue = "#96E6C2"
    mbc-buttermilk = "#ffeb9c"
    war-amber = "#fdae35"
    war-black = "#000000"
    war-brown = "#fdae35"
    war-cerise = "#d91b4b"
    war-crimson = "#4f0003"
    war-emerald = "#01613a"
    war-french-navy = "#022658"
    war-gold = "#e0b028"
    war-grey = "#1f3144"
    war-hyacinth = "#022b69"
    war-lemon = "#ecc101"
    war-lime = "#6edb5a"
    war-maroon = "#570313"
    war-navy = "#010512"
    war-orange = "#d29042"
    war-pink = "#e5a7ac"
    war-primrose = "#e0cb3a"
    war-purple = "#1a0044"
    war-royal = "#031a58"
    war-scarlet = "#af0002"
    war-scout-green = "#003120"
    war-silver-grey = "#72716c"
    war-sky = "#6787ae"
    war-sky-s-a = "#9abecc"
    war-tangerine = "#ed5202"
    war-turquoise = "#0078af"
    war-white = "#eff2f7"
    war-yellow = "#e7ce3e"