<style type="text/css">
{{- $prefix := replace .Path "/" "" -}}
#necker {
	width: 100%;
}

{{if .Params.outerBorder -}}
#{{- $prefix -}}-outer-border path {
	color: {{- if eq "#" (substr .Params.outerBorder 0 1) -}}
					{{- .Params.outerBorder -}}
				{{- else -}}
					{{- index .Site.Params.colours .Params.outerBorder -}}
				{{- end -}};
}
{{- end -}}

{{if .Params.rightOuterBorder -}}
#{{- $prefix -}}-right-outer-border path {
	color: {{- if eq "#" (substr .Params.rightOuterBorder 0 1) -}}
					{{- .Params.rightOuterBorder -}}
				{{- else -}}
					{{- index .Site.Params.colours .Params.rightOuterBorder -}}
				{{- end -}};
}
{{- end -}}

{{if .Params.leftOuterBorder -}}
#{{- $prefix -}}-left-outer-border path {
	color: {{- if eq "#" (substr .Params.leftOuterBorder 0 1) -}}
					{{- .Params.leftOuterBorder -}}
				{{- else -}}
					{{- index .Site.Params.colours .Params.leftOuterBorder -}}
				{{- end -}};
}
{{- end -}}

{{if .Params.middleBorder -}}
#{{- $prefix -}}-middle-border path {
	color: {{- if eq "#" (substr .Params.middleBorder 0 1) -}}
					{{- .Params.middleBorder -}}
				{{- else -}}
					{{- index .Site.Params.colours .Params.middleBorder -}}
				{{- end -}};
}
{{- end -}}

{{if .Params.rightMiddleBorder -}}
#{{- $prefix -}}-right-middle-border path {
	color: {{- if eq "#" (substr .Params.rightMiddleBorder 0 1) -}}
					{{- .Params.rightMiddleBorder -}}
				{{- else -}}
					{{- index .Site.Params.colours .Params.rightMiddleBorder -}}
				{{- end -}};
}
{{- end -}}

{{if .Params.leftMiddleBorder -}}
#{{- $prefix -}}-left-middle-border path {
	color: {{- if eq "#" (substr .Params.leftMiddleBorder 0 1) -}}
					{{- .Params.leftMiddleBorder -}}
				{{- else -}}
					{{- index .Site.Params.colours .Params.leftMiddleBorder -}}
				{{- end -}};
}
{{- end -}}

{{if .Params.innerBorder -}}
#{{- $prefix -}}-inner-border path {
	color: {{- if eq "#" (substr .Params.innerBorder 0 1) -}}
					{{- .Params.innerBorder -}}
				{{- else -}}
					{{- index .Site.Params.colours .Params.innerBorder -}}
				{{- end -}};
}
{{- end -}}

{{if .Params.rightInnerBorder -}}
#{{- $prefix -}}-right-inner-border path {
	color: {{- if eq "#" (substr .Params.rightInnerBorder 0 1) -}}
					{{- .Params.rightInnerBorder -}}
				{{- else -}}
					{{- index .Site.Params.colours .Params.rightInnerBorder -}}
				{{- end -}};
}
{{- end -}}

{{if .Params.leftInnerBorder -}}
#{{- $prefix -}}-left-inner-border path {
	color: {{- if eq "#" (substr .Params.leftInnerBorder 0 1) -}}
					{{- .Params.leftInnerBorder -}}
				{{- else -}}
					{{- index .Site.Params.colours .Params.leftInnerBorder -}}
				{{- end -}};
}
{{- end -}}

{{if .Params.centre -}}
#{{- $prefix -}}-centre path {
	color: {{- if eq "#" (substr .Params.centre 0 1) -}}
					{{- .Params.centre -}}
				{{- else -}}
					{{- index .Site.Params.colours .Params.centre -}}
				{{- end -}};
}
{{- end -}}

{{if .Params.main -}}
#{{- $prefix -}}-main path {
	color: {{- if eq "#" (substr .Params.main 0 1) -}}
					{{- .Params.main -}}
				{{- else -}}
					{{- index .Site.Params.colours .Params.main -}}
				{{- end -}};
}
{{- end -}}

{{if .Params.rightMain -}}
#{{- $prefix -}}-right-main path {
	color: {{- if eq "#" (substr .Params.rightMain 0 1) -}}
					{{- .Params.rightMain -}}
				{{- else -}}
					{{- index .Site.Params.colours .Params.rightMain -}}
				{{- end -}};
}
{{- end -}}

{{if .Params.leftMain -}}
#{{- $prefix -}}-left-main path {
	color: {{- if eq "#" (substr .Params.leftMain 0 1) -}}
					{{- .Params.leftMain -}}
				{{- else -}}
					{{- index .Site.Params.colours .Params.leftMain -}}
				{{- end -}};
}
{{- end -}}
</style>