<!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
{{- $block := "" -}}
{{- if eq .location "mobile" -}}
  {{- $block = "block " -}}
{{- end -}}
{{- $selected := " bg-gray-900 text-white" -}}
{{- $normal := " text-gray-300 hover:bg-gray-700 hover:text-white" -}}
{{- $current := $normal -}}
                {{- if eq .path "/" -}}{{- $current = $selected -}}{{- else -}}{{- $current = $normal -}}{{- end -}}
                <a href="/" class="{{- $block -}}rounded-md px-3 py-2 text-sm font-medium {{- $current -}}">Home</a>
                {{- if eq .path "/about" -}}{{- $current = $selected -}}{{- else -}}{{- $current = $normal -}}{{- end -}}
                <a href="/about/" class="{{- $block -}}rounded-md px-3 py-2 text-sm font-medium {{- $current -}}">About</a>
                {{- if eq .path "/submit" -}}{{- $current = $selected -}}{{- else -}}{{- $current = $normal -}}{{- end -}}
                <a href="/submit/" class="{{- $block -}}rounded-md px-3 py-2 text-sm font-medium {{- $current -}}">Submit Necker</a>