    <nav class="{{- if not .IsHome -}}bg-gray-800 {{ end -}}mb-3" x-data="{
      open: false,
      get isOpen() { return this.open },
      get isClosed() { return ! this.open },
      toggle() { this.open = ! this.open },
    }">
      <div class="mx-auto max-w-7xl px-2 sm:px-4 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
          <div class="flex items-center px-2 lg:px-0">
            <div class="shrink-0">
              {{- $logo := resources.Get "images/logo.svg" -}}
              <img src="{{ $logo.Permalink }}" alt="NeckerDB" class="h-8 w-auto" />
            </div>
            <div class="hidden lg:ml-4 lg:block">
              <div class="flex space-x-4">
                {{- $context := dict "page" . "location" "top" -}}
                {{- partial "topnav-links.html" $context -}}
              </div>
            </div>
          </div>
          <!--<div class="flex flex-1 justify-center px-2 lg:ml-6 lg:justify-end">
            <div class="grid w-full max-w-lg grid-cols-1 lg:max-w-xs">
              <input type="search" name="search" placeholder="Search" aria-label="Search" class="col-start-1 row-start-1 block w-full rounded-md bg-gray-700 py-1.5 pr-3 pl-10 text-base text-white outline-hidden placeholder:text-gray-400 focus:bg-white focus:text-gray-900 focus:placeholder:text-gray-400 sm:text-sm/6" />
              <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="pointer-events-none col-start-1 row-start-1 ml-3 size-5 self-center text-gray-400">
                <path d="M9 3.5a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11ZM2 9a7 7 0 1 1 12.452 4.391l3.328 3.329a.75.75 0 1 1-1.06 1.06l-3.329-3.328A7 7 0 0 1 2 9Z" clip-rule="evenodd" fill-rule="evenodd" />
              </svg>
            </div>
          </div>-->
          <div class="flex lg:hidden">
            <!-- Mobile menu button -->
            <button type="button" @click="toggle()" aria-controls="mobile-menu" aria-expanded="false" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:ring-2 focus:ring-white focus:outline-hidden focus:ring-inset">
              <span class="absolute -inset-0.5"></span>
              <span class="sr-only">Open main menu</span>
              <!--
                Icon when menu is closed.

                Menu open: "hidden", Menu closed: "block"
              -->
              <span class="size-6" x-show="isClosed">
                <i class="fa-light fa-bars"></i>
              </span>
              <!--
                Icon when menu is open.

                Menu open: "block", Menu closed: "hidden"
              -->
              <span class="size-6" x-show="isOpen">
                <i class="fa-light fa-xmark-large"></i>
              </span>
            </button>
          </div>
        </div>
      </div>

      <!-- Mobile menu, show/hide based on menu state. -->
      <div id="mobile-menu" class="lg:hidden" x-show="open">
        <div class="space-y-1 px-2 pt-2 pb-3">
          {{- $context := dict "page" . "location" "mobile" -}}
          {{- partial "topnav-links.html" $context -}}
        </div>
      </div>
    </nav>