{{- $prefix := replace .Path "/" "" -}}
<svg
  viewBox="0 0 662.59937 194.49986"
  version="1.1"
  id="svg920"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:svg="http://www.w3.org/2000/svg">
  <defs
    id="defs924" />
  <style
    type="text/css"
    id="style896">
      .st0{stroke-width:1;stroke-miterlimit:10;}
  </style>
  <g
    id="g918"
    fill="currentColor" stroke="currentColor"
    transform="translate(-89.700331,-363.8001)">
    <g
      id="{{- $prefix -}}-centre">
      <path
        id="svg_2"
        d="m 421,394 c -12.8,0 -25.9,-0.3 -39,-0.9 v 124.6 l 39,39.6 39,-39.6 V 393.1 c -13.1,0.6 -26.2,0.9 -39,0.9"
        class="st0" />
    </g>
    <g
      id="{{- $prefix -}}-right-main">
      <path
        id="svg_4"
        d="m 460,393.1 c 68,-2.9 134.3,-11.8 134.3,-11.8 L 460,517.7 Z"
        class="st0" />
      <path
        id="svg_5"
        d="m 632.5,408.7 c -20.8,4 -71,5.9 -71,5.9 l 29.6,-30.1 c 0,0 64.5,-6.2 81.7,-11.2 z"
        class="st0" />
      <path
        id="svg_6"
        d="m 751.3,364.8 c -31.5,6.8 -82.4,12 -82.4,12 L 635.6,406 c 0,0 54.8,-5.1 71.3,-8.3 z"
        class="st0" />
    </g>
    <g
      id="{{- $prefix -}}-left-main">
      <path
        id="svg_8"
        d="M 382,393.1 C 314,390.2 247.7,381.3 247.7,381.3 L 382,517.7 Z"
        class="st0" />
      <path
        id="svg_9"
        d="m 209.5,408.7 c 20.8,4 71,5.9 71,5.9 l -29.6,-30.1 c 0,0 -64.5,-6.2 -81.7,-11.2 z"
        class="st0" />
      <path
        id="svg_10"
        d="m 90.7,364.8 c 31.5,6.8 82.4,12 82.4,12 l 33.3,29.2 c 0,0 -54.8,-5.1 -71.3,-8.3 z"
        class="st0" />
    </g>
  </g>
</svg>