{{- $prefix := replace .Path "/" "" -}}
<svg
  viewBox="0 0 662.5993 194.49976"
  version="1.1"
  id="svg516"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:svg="http://www.w3.org/2000/svg">
  <defs
    id="defs520" />
  <style
    type="text/css"
    id="style460">
      .st0{stroke-width:1;stroke-miterlimit:10;}
  </style>
  <g
    id="{{- $prefix -}}-right-outer-border"
    fill="currentColor" stroke="currentColor"
    transform="translate(-89.700337,-363.8001)">
    <path
      class="st0"
      d="m 594.3,381.3 c 0,0 -5.9,0.8 -15.9,2 L 421,543.1 v 14.2 z"
      id="path469" />
    <path
      class="st0"
      d="m 672.9,373.3 c -4,1.2 -10.4,2.4 -18.1,3.6 L 615.9,411 c 6.4,-0.7 12.2,-1.4 16.6,-2.3 z"
      id="path471" />
    <path
      class="st0"
      d="m 751.3,364.8 c -5.8,1.3 -12.2,2.4 -18.8,3.6 l -43,31.9 c 7.2,-0.9 13.4,-1.8 17.4,-2.5 z"
      id="path473" />
  </g>
  <g
    id="{{- $prefix -}}-left-outer-border"
    fill="currentColor" stroke="currentColor"
    transform="translate(-89.700337,-363.8001)">
    <path
      class="st0"
      d="m 247.7,381.3 c 0,0 5.9,0.8 15.9,2 L 421,543.1 v 14.2 z"
      id="path478" />
    <path
      class="st0"
      d="m 169.1,373.3 c 4,1.2 10.4,2.4 18.1,3.6 l 38.9,34.1 c -6.4,-0.7 -12.2,-1.4 -16.6,-2.3 z"
      id="path480" />
    <path
      class="st0"
      d="m 90.7,364.8 c 5.8,1.3 12.2,2.4 18.8,3.6 l 43,31.9 c -7.2,-0.9 -13.4,-1.8 -17.4,-2.5 z"
      id="path482" />
  </g>
  <g
    id="{{- $prefix -}}-right-inner-border"
    fill="currentColor" stroke="currentColor"
    transform="translate(-89.700337,-363.8001)">
    <path
      class="st0"
      d="m 578.4,383.3 c -4.5,0.5 -9.8,1.1 -15.8,1.8 L 421,528.9 v 14.2 z"
      id="path487" />
    <path
      class="st0"
      d="m 654.9,376.9 c -5.2,0.8 -10.9,1.6 -16.7,2.4 l -37.8,33.1 C 605.7,412 611,411.5 616,411 Z"
      id="path489" />
    <path
      class="st0"
      d="m 732.5,368.3 c -5.8,1 -11.8,1.9 -17.7,2.8 l -41.9,31.1 c 5.7,-0.6 11.4,-1.3 16.6,-1.9 z"
      id="path491" />
  </g>
  <g
    id="{{- $prefix -}}-left-inner-border"
    fill="currentColor" stroke="currentColor"
    transform="translate(-89.700337,-363.8001)">
    <path
      class="st0"
      d="m 263.6,383.3 c 4.5,0.5 9.8,1.1 15.8,1.8 L 421,528.9 v 14.2 z"
      id="path496" />
    <path
      class="st0"
      d="m 187.1,376.9 c 5.2,0.8 10.9,1.6 16.7,2.4 l 37.8,33.1 C 236.3,412 231,411.5 226,411 Z"
      id="path498" />
    <path
      class="st0"
      d="m 109.5,368.3 c 5.8,1 11.8,1.9 17.7,2.8 l 41.9,31.1 c -5.7,-0.6 -11.4,-1.3 -16.6,-1.9 z"
      id="path500" />
  </g>
  <g
    id="{{- $prefix -}}-main"
    fill="currentColor" stroke="currentColor"
    transform="translate(-89.700337,-363.8001)">
    <path
      class="st0"
      d="m 203.8,379.2 c 22.7,3 47,5.3 47,5.3 l 29.6,30.1 c 0,0 -19.2,-0.7 -38.8,-2.2 z"
      id="path505" />
    <path
      class="st0"
      d="m 127.2,371.1 c 24,3.5 45.9,5.7 45.9,5.7 l 33.3,29.2 c 0,0 -18.5,-1.7 -37.2,-3.8 z"
      id="path507" />
    <path
      class="st0"
      d="m 421,394 c -50.5,0 -107.2,-5.2 -141.6,-8.9 L 421,528.9 562.6,385.1 C 528.2,388.8 471.5,394 421,394 Z"
      id="path509" />
    <path
      class="st0"
      d="m 638.2,379.2 c -22.7,3 -47,5.3 -47,5.3 l -29.6,30.1 c 0,0 19.2,-0.7 38.8,-2.2 z"
      id="path511" />
    <path
      class="st0"
      d="m 714.8,371.1 c -24,3.5 -45.9,5.7 -45.9,5.7 L 635.6,406 c 0,0 18.5,-1.7 37.2,-3.8 z"
      id="path513" />
  </g>
</svg>