{{- $prefix := replace .Path "/" "" -}}
<svg
  viewBox="0 0 662.59937 194.49976"
  version="1.1"
  id="svg27"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:svg="http://www.w3.org/2000/svg">
  <defs
    id="defs31" />
  <style
    type="text/css"
    id="style2">
      .st0{stroke-width:1;stroke-miterlimit:10;}
</style>
  <g
    id="{{- $prefix -}}-right-main"
    fill="currentColor" stroke="currentColor"
    transform="translate(-89.700331,-363.8001)">
    <path
      class="st0"
      d="m 594.3,381.3 c 0,0 -94.3,12.7 -173.3,12.7 v 163.3 z"
      id="path11" />
    <path
      class="st0"
      d="m 672.9,373.3 c -17.2,5 -81.7,11.2 -81.7,11.2 l -29.6,30.1 c 0,0 50.2,-1.9 71,-5.9 z"
      id="path13" />
    <path
      class="st0"
      d="m 751.3,364.8 c -31.5,6.8 -82.4,12 -82.4,12 L 635.6,406 c 0,0 54.8,-5.1 71.3,-8.3 z"
      id="path15" />
  </g>
  <g
    id="{{- $prefix -}}-left-main"
    fill="currentColor" stroke="currentColor"
    transform="translate(-89.700331,-363.8001)">
    <path
      class="st0"
      d="m 247.7,381.3 c 0,0 94.3,12.7 173.3,12.7 v 163.3 z"
      id="path20" />
    <path
      class="st0"
      d="m 169.1,373.3 c 17.2,5 81.7,11.2 81.7,11.2 l 29.6,30.1 c 0,0 -50.2,-1.9 -71,-5.9 z"
      id="path22" />
    <path
      class="st0"
      d="m 90.7,364.8 c 31.5,6.8 82.4,12 82.4,12 l 33.3,29.2 c 0,0 -54.8,-5.1 -71.3,-8.3 z"
      id="path24" />
  </g>
</svg>