{{ define "main" }}
  <article class="mb-6 lg:mb-3">
    <h1 class="font-bold text-4xl lg:text-3xl mb-6">{{ .Title }}</h1>
    {{ if .Params.showNecker }}
    <div class="flex flex-col lg:flex-row gap-5">
      <div class="lg:basis-2/5 order-2 lg:order-1 flex flex-row lg:flex-col lg:justify-between gap-2">
      {{- if and .Params.info (gt (.Params.info | len) 0) -}}
        {{- range $key, $details := (sort .Params.info "order" "asc")  -}}
          {{ partial "info-card.html" $details }}
        {{- end -}}
      {{- end -}}
      </div>
      {{- $background := "bg-white" -}}
      <div class="lg:basis-3/5 order-1 lg:order-2 {{ .Params.Background | default $background }} p-5 overflow-hidden rounded-lg shadow">
        {{- partial "necker.html" . -}}
      </div>
    </div>
    {{ end }}
    <div class="mt-4 prose prose-lg lg:prose-sm max-w-none">
      {{ .Content }}
    </div>
  </article>
{{ end }}