{{- define "main" -}}
  <article class="mb-6 lg:mb-3">
    <h1 class="font-bold text-4xl lg:text-3xl mb-6">{{ .Title }}</h2>
    {{ if .Params.showNecker }}
    <div class="flex flex-col lg:flex-row gap-5">
      <div class="lg:basis-2/5 order-2 lg:order-1 flex flex-row lg:flex-col lg:justify-between gap-2">
      {{- if .Params.Founded -}}
        {{- $details := dict "Title" "Founded" "Data" .Params.Founded -}}
        {{ partial "info-card.html" $details }}
      {{- end -}}
      {{- if .Params.EventDate -}}
        {{- $details := dict "Title" "Event Date" "Data" .Params.EventDate -}}
        {{ partial "info-card.html" $details }}
      {{- end -}}
      {{- if .Params.Location -}}
        {{- $details := dict "Title" "Location" "Data" .Params.Location -}}
        {{ partial "info-card.html" $details }}
      {{- end -}}
      </div>
      {{- $background := "bg-white" -}}
      <div class="lg:basis-3/5 order-1 lg:order-2 {{ .Params.Background | default $background }} p-5 overflow-hidden rounded-lg shadow">
        {{- partial "necker.html" . -}}
      </div>
    </div>
    {{ end }}
    <div class="prose prose-lg lg:prose-sm">
      {{ .Content }}
    </div>
  </article>

  {{ if gt .RegularPages.Len 0 }}
    <h2 class="font-bold text-2xl mb-6 lg:mb-3">Additional Neckers</h2>
    {{ partial "neckerList.html" .RegularPages }}
  {{- end -}}

  {{ if gt .Sections.Len 0 }}
    <h2 class="font-bold text-2xl mb-6 lg:mb-3">Sub Organisations</h2>
    {{ partial "neckerList.html" .Sections }}
  {{- end -}}
  </div>
{{- end -}}
