{{- define "main" -}}
      <div class="relative isolate overflow-hidden pt-20 lg:pt-14">
        {{- $hero := resources.Get "images/colours.png" -}}
        <img src="{{ $hero.Permalink }}" alt="" aria-hidden="true" class="absolute inset-0 -z-10 size-full object-cover" />
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto max-w-2xl py-12 sm:py-24 lg:py-36">
            <div class="text-center">
              <h1 class="text-balance text-7xl lg:text-5xl font-semibold tracking-tight text-white">Discover the Colours of Scouting</h1>
              <p class="mt-20 lg:mt-8 text-pretty text-2xl/10 lg:text-lg font-medium text-gray-200">A growing collection of Scout & Guide neckers from across the UK and beyond. Browse. Celebrate. Contribute.</p>
              <div class="mt-20 lg:mt-10 mb-36 lg:mb-0 flex items-center justify-center gap-x-12 lg:gap-x-6">
                <a href="/neckers/" class="rounded-md bg-fuchsia-500 px-3.5 py-2.5 text-2xl lg:text-sm font-semibold text-white shadow-sm hover:bg-fuchsia-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-fuchsia-500">Browse All</a>
                <a href="/submit/" class="text-2xl lg:text-sm/6 font-semibold text-white">Submit Your Necker <span aria-hidden="true"><i class="fa-light fa-arrow-right"></i></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-8 text-center px-20 xl:px-40">
        <div class="text-5xl lg:text-3xl mb-5">Recently Added</div>

        {{ $pages := where .Site.AllPages "Type" "like" `necker` }}
        {{/* Remove unknown neckers */}}
        {{ $pages = where $pages "Params.showNecker" "ne" "unknown" }}

        {{ $pages = first 6 $pages.ByPublishDate.Reverse }}

        {{ partial "neckerListHome.html" $pages }}
      </div>

      <div class="my-8 text-center px-20 xl:px-40">
        <div class="text-5xl lg:text-3xl mb-5">What is NeckerDB?</div>
        <div class="text-left grid grid-cols-3 gap-6">
          <div class="grid-cols-subgrid col-span-2 prose max-w-none">
            <p>From bold stripes to checkerboard designs, every Scout or Guide group has a unique necker - and a story behind it.</p>
            <p>The Necker Archive is a community-led project to document and showcase the rich diversity of neckerchiefs used by:</p>
            <ul>
              <li>Scout and Guide Groups</li>
              <li>Districts, Counties, and Regions</li>
              <li>Events, camps, and international exchanges</li>
            </ul>
            <p>Whether you're reminiscing, researching, or representing your group, you're in the right place.</p>
          </div>
          <div class="relative">
            {{- $stars := resources.Get "images/stars.jpg" -}}
            <img src="{{ $stars.Permalink }}" alt="" aria-hidden="true" class="absolute inset-0 -z-10 size-full object-cover rounded-xl" />
          </div>
        </div>
      </div>

      <div class="mt-8 text-center px-20 xl:px-40">
        <div class="text-5xl lg:text-3xl mb-5">Browse by Association</div>

        {{ $pages := where .Site.AllPages "Params.topLevel" "eq" true }}

        {{ $pages = first 6 $pages.ByTitle }}

        {{ partial "neckerListHome.html" $pages }}
      </div>
{{- end -}}